@page "/detail/{id}"
@using tohdotnetcore.domain
@inject IHeroService HeroService
@inject MessageState MessageState
@if (hero != null)
{
    <div>
        <h2>@hero.Name Details</h2>
        <div><span>id: </span>@hero.Id</div>
        <div>
            <label>
                name:
                <input @bind="hero.Name" placeholder="name" />
            </label>
        </div>
        <br />
        <button onclick="javascript:history.go(-1)">go back</button>
        <button @onclick="UpdateHero">save</button>
    </div>
}

@code {
    [Parameter]
    public string Id { get; set; }

    Hero hero;

    protected override async Task OnInitializedAsync()
    {
        MessageState.NotifyStateHasChanged = StateHasChanged;
        if (int.TryParse(Id, out int id))
        {
            hero = await HeroService.GetHero(id);
            MessageState.AddMesage($"Hero Service: fetched hero {hero.Name}");
        }
    }

    async Task UpdateHero()
    {
        await HeroService.UpdateHero(hero.Id, hero);
        MessageState.AddMesage($"Hero Service: updated hero {hero.Name}");
    }

}